<launch>
  <node pkg="ch_ros" type="ch_ros" name="ch_ros" required="true" output="screen"/>
  <group ns="ch_ros">
    <rosparam file="$(find ch_ros)/config/demo.yaml"/>
  </group>

  <node pkg="ch_ros" type="ch_launch" name="ch_launch" required="true" output="screen"/>

  <node pkg="keyboard_control" type="keyboard_control" name="keyboard_control" required="true" output="screen"/>

  <!-- <node pkg="rosbag" type="record" name="rosbag" args="-a -O euler_test"/> -->
</launch>
