<launch>

  <!-- <node pkg="demo_chrono_ros" type="syn_server" name="syn_server" required="true" output="screen"/> -->

  <node pkg="chrono_ros_interface" type="main" name="chrono_ros_interface" required="true" output="screen"/>

  <node pkg="demo_chrono_ros" type="syn_vehicle" name="syn_vehicle" required="true" output="screen"/>

  <!-- <node pkg="path_follower" type="pid_follower" name="pid_follower" required="false" output="screen"/> -->

  <!-- <node pkg="rviz_vis" type="rviz_vis" name="rviz_vis" required="true" output="screen"/> -->

  <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d /home/aaron/.rviz/rviz_vis.rviz" required="true"/> -->
</launch>
