<launch>

  <node pkg="ch_ros" type="ch_ros" name="ch_ros" required="true" output="screen"/>

  <node pkg="ch_ros" type="ch_launch" name="ch_launch" required="true" output="screen"/>

  <node pkg="pid_control" type="pid_control" name="pid_control" output="screen" respawn="false"/>

  <node type="rviz" name="rviz" pkg="rviz" args="-d /home/aaron/.rviz/chrono_rviz.rviz "/>

  <node pkg="path_visualizer" type="path_visualizer" name="path_visualizer" output="screen"/>

  <node pkg="car_visualizer" type="car_visualizer" name="car_visualizer" output="screen"/>

</launch>
