<launch>
  <node pkg="keyboard_control" type="keyboard_input" name="keyboard_control" launch-prefix="gnome-terminal --"/>

  <node pkg="chrono_ros" type="chrono_ros" name="chrono_ros" required="true"/>

  <node pkg="rviz_vis" type="rviz_vis" name="rviz_vis" required="true" output="screen"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d /home/aaron/.rviz/rviz_vis.rviz" required="true"/>

</launch>
