<launch>
  <param name="/use_sim_time" value="true"/>
  <!-- Chrono demo to run -->
  <arg name="chrono_demo" default="demo_INT"/>
  <!-- yaml include file name to use -->
  <arg name="chrono_yaml" default="ch_interface.yaml"/>
  <!-- Topic for image data -->
  <arg name="image_topic" default="/image"/>
  <!-- ch_ros namespace -->
  <group ns="ch_interface">
    <!-- Load .yaml config file -->
    <rosparam file="$(find ch_interface)/config/$(arg chrono_yaml)"/>
    <!-- Run ch_ros node -->
    <node pkg="ch_interface" type="ch_interface" name="ch_interface" required="true" output="screen">

      <!-- Remap camera topic -->
      <remap from="camera" to="$(arg image_topic)"/>
    </node>
    <!-- Run ch_launcher node -->
    <!-- <node pkg="ch_interface" type="ch_launch" name="ch_launch" args="$(arg chrono_demo) $(arg chrono_port)" required="true" output="screen"/> -->
  </group>
</launch>
